$button-bagraund-color: #f69f35;
$buttom-border: #f69f35;
$text-white-color: #ffffff;
$text-dark-color: #000000;
$text-yellow-color: #f69f35;
$text-grey-color: #595959;
$text-font-familiy: 'Rubik';
$box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
$Background-yellow: #f69f35;
$Background-black: rgba(0, 0, 0, 0.956);
$Background-grey: #343131;
$Background-white-grey: #595959;
$Background-white: white;
