.section__money{
    width: 1920px;
    border: 1px solid white;
    background: #0E0E12;
   .contiyner{
        width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
           text-align: center;
           width: 851px;
           color: #FFF;
            text-align: center;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: 117.2%;
        }
        span{
            display: inline;
            width: 790px;
            color: #FFF;
            text-align: center;            
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 158.2%; 
            b{
                font-weight: 700;
            }
        }
    } 
}